body { 
    font-family:sans-serif; 
    font-size:12px;
    background-color: #ffffff;
    padding-left:1em;
    padding-right:3em;
    margin-top:0px;
    margin-left:0px;
}

h1 { font-size:18px; }

h2 {
    font-size:14px;
    color:#F89331;
}

h3 {
    font-size:12px;
    font-weight:bold;
    color:#006486;
}

a { text-decoration:none; }
a:hover { text-decoration:underline; }
a:focus { text-decoration:underline; }
a:active { text-decoration:underline; }

fieldset { padding-bottom:1em }

table { margin:0px; padding:0px; }
th { background-color:#f2f2f2; padding:0.25em; }

legend { 
    font-size:14px;    
}  

.conversionok {
    color:#2BD95C;
    font-weight:bold;
}

.conversionwarning {
    color:#FADF65;
    font-weight:bold;
}

.conversionerror {
    color:#F89331;
    font-weight:bold;
}

.conversionheadline {
    padding:2px;
    background-color:#006486;
    cursor:pointer;
}

.conversiondetails {
    padding:1em;
}

.conversionlinenumbers {
    color:black;
    white-space:pre;
}

.tddark {
    background-color:#f6f6f6;
}

.tdbright {
    background-color:#ffffff;
}

.conversiondetailstable {

    padding:0px;

    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#f2f2f2;  
    
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#f2f2f2;
    
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#f2f2f2;   
    
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#f2f2f2; 
}


.conversion {

    margin-bottom:0.5em;    
    
    background-color:#ffffff;   
    
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#006486;   
    
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#006486;
    
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#006486;  
    
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#006486; 
}

.formhint {
    text-align:left;      
}

.formlabel {
    font-weight:bold;
    text-align:right;
    vertical-align:top;
    padding-right:0.5em;
}

.formlabelerror {
    color:#F89331;
    font-weight:bold;
    text-align:right;
    vertical-align:top;
    padding-right:0.5em;
}

.error {
    color:#F89331;
    font-weight:bold;
}

.formelement {
    text-align:left;
    vertical-align:top;
    padding-bottom:0.5em;
    width:450px;
}

.formsubmit {
    text-align:right;
    padding-right:1em;
    padding-top:0.5em;
}
.topnav { 
    width:100%; 
    
    padding:0.25em;
    padding-left:0.5em;
    
    background-color:#006486;
    
    font-size:10px;
    color:#ffffff;  
    
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#006486; 
    
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#F2F2F2;
    
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#F2F2F2;   
}

.topnavlink {
    color:#ffffff;    
}

.topgreetings {

    width:100%; 
    
    padding:0.25em;
    padding-left:0.5em;
    padding-top:1em;
    
    background-color:#F2F2F2;
    
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#ffffff;   
    
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#F2F2F2;
    
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#F2F2F2;  
    
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#F2F2F2; 
    
}

.main {

    margin-top:0.25em;        
    background-color:#FCFCFC;

    width:100%;
    
    padding:0.25em;
    padding-left:0.5em;
    padding-top:1em;
    
    text-align:left;
    vertical-align:top; 

    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#F2F2F2;
    
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#F2F2F2;
    
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#F2F2F2;
    
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#F2F2F2;
       
}

.maintextbox {
    width:600px;
    margin-bottom:1em;
}

.bottom {

    width:100%;
    background-color:#FCFCFC;
    
    font-size:10px;

    margin-top:1em;
    
    padding:0.25em;
    padding-left:0.5em;
    
    border-top-width:1px;
    border-top-style:solid;
    border-top-color:#F2F2F2;
    
    border-left-width:1px;
    border-left-style:solid;
    border-left-color:#F2F2F2;
    
    border-right-width:1px;
    border-right-style:solid;
    border-right-color:#F2F2F2;
    
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#F2F2F2
}
